<h3>{{viewTitle}}</h3>

<form action="/exceldata" method="POST" autocomplete="off">
    <input type="hidden" name="_id" value="{{exceldata._id}}">
    <div class="form-group">
        <label>Entidad</label>
        <input type="text" class="form-control" name="entidad" placeholder="Entidad" value="{{exceldata.entidad}}">
    </div>
    <div class="form-group">
        <label>Año</label>
        <input type="text" class="form-control" name="anio" placeholder="Año" value="{{exceldata.anio}}">
    </div>
    <div class="form-group">
        <label>Total</label>
        <input type="text" class="form-control" name="total" placeholder="Total" value="{{exceldata.total}}">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Mujeres</label>
            <input type="text" class="form-control" name="mujeres" placeholder="Mujeres" value="{{exceldata.mujeres}}">
        </div>
        <div class="form-group col-md-6">
            <label>Hombres</label>
            <input type="text" class="form-control" name="hombres" placeholder="Hombres" value="{{exceldata.hombres}}">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>% Mujeres</label>
            <input type="text" class="form-control" name="p_mujeres" placeholder="% Mujeres" value="{{exceldata.p_mujeres}}">
        </div>
        <div class="form-group col-md-6">
            <label>% Hombres</label>
            <input type="text" class="form-control" name="p_hombres" placeholder="% Hombres" value="{{exceldata.p_hombres}}">
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
        <a class="btn btn-secondary" href="/exceldata/list"><i class="fa fa-list-alt"></i> View All</a>
    </div>
</form>
