<h3><a class="btn btn-secondary" href="/exceldata"><i class="fa fa-plus"></i> Create New</a> Employee List</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Entidad</th>
            <th>Año</th>
            <th>Total</th>
            <th>Mujeres</th>
            <th>Hombres</th>
            <th>% Mujeres</th>
            <th>% Hombres</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.entidad}}</td>
            <td>{{this.anio}}</td>
            <td>{{this.total}}</td>
            <td>{{this.mujeres}}</td>
            <td>{{this.hombres}}</td>
            <td>{{this.p_mujeres}}</td>
            <td>{{this.p_hombres}}</td>
            <td>
                <a href="/exceldata/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/exceldata/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
